<div *ngIf="carLoaded">
  <div class="row">

    <div class="col-md-8">

      <p-galleria [value]="currentCar.images" [containerStyle]="{'max-width': '720px', 'min-width': '480px'}"
        [numVisible]="5" [circular]="true" [autoPlay]="true" [showItemNavigators]="true" [showThumbnails]="false"
        [showIndicators]="true">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.imagePath | apiImage" style="width: 100%; display: block;" />
        </ng-template>

      </p-galleria>
    </div>
    <div class="col-md-4">

      <div class="mt-5">
        <p-table [value]="attributes" responsiveLayout="scroll">
          <ng-template pTemplate="body" let-attribute>
            <tr>
              <td class="text-center">{{attribute.key}}</td>
              <td class="text-center">{{attribute.value}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="d-flex justify-content-center">
        <button pButton pRipple type="button" label="Rent" class="p-button-outlined p-button-rounded" (click)="rent()"></button>
      </div>


    </div>
  </div>
  <p-fieldset legend="Description">
    {{currentCar.description}}
</p-fieldset>
</div>
