.back-image{
  background:url('/assets/images/background.jpg')no-repeat center center fixed;
  height: 100%;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;

}
