<div class="text-center">

  <main class="form-signin w-100 m-auto">
    <form [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" formControlName="email" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" formControlName="password" id="floatingPassword"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
      <button (click)="login()" [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary">Login</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>



</div>
