<form [formGroup]="filterForm">
  <p-accordion>
    <p-accordionTab header="Filter">
      <div class="row">
        <div *ngIf="brandsLoaded" class="col-2  me-2">
          <h5 class="text-center">Brand</h5>
          <p-listbox [options]="brands" optionLabel="name" optionValue="id" formControlName="brandId"
            placeholder="Select Brand" [listStyle]="{'max-height':'200px'}"></p-listbox>
        </div>
        <div *ngIf="colorsLoaded" class="col-2  me-1">
          <h5 class="text-center">Color</h5>
          <p-listbox [options]="colors" optionLabel="name" optionValue="id" formControlName="colorId"
            placeholder="Select Color" [listStyle]="{'max-height':'200px'}">
          </p-listbox>
        </div>
        <div class="col-2">
          <span class="p-float-label">
            <input class="p-inputtext-sm" id="minModelYear" type="number" formControlName="minModelYear" pInputText>
            <label for="minModelYear">Min Model Year</label>
          </span>
          <span class="p-float-label mt-3">
            <input class="p-inputtext-sm" id="minPrice" type="number" formControlName="minPrice" pInputText>
            <label for="minPrice">Min Daily Price</label>
          </span>
          <span class="p-float-label mt-1">
            <input class="p-inputtext-sm" id="maxPrice" type="number" formControlName="maxPrice" pInputText>
            <label for="maxPrice">Max Daily Price</label>
          </span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-2">
          <button pButton pRipple type="button" label="Filter" icon="pi pi-search" class="p-button-rounded" (click)="getDetailsByFilter()"></button>
        </div>
        <div class="col-2">
          <button type="button" pButton label="Clear" icon="pi pi-times" (click)="clear()"></button>
        </div>
      </div>

    </p-accordionTab>
  </p-accordion>
</form>

<div *ngIf="carsLoaded" class="mt-5">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let car of cars" class="col">
      <p-card header="{{car.brandName}}" subheader="{{car.dailyPrice | currency}}">
        <ng-template pTemplate="header">
          <img alt="Card" src="{{car.images[0].imagePath | apiImage}}" style="height: 9vw;  object-fit: cover;">
        </ng-template>
        <p class="text-center">Rent a {{car.modelYear + " " + car.colorName + " " + car.brandName + " " + car.model}} car now.  </p>
        <ng-template pTemplate="footer">
          <div class="d-flex justify-content-between">
            <button pButton pRipple type="button" label="Details" class="p-button-outlined p-button-rounded" routerLink="/car/{{car.id}}" ></button>
            <button pButton pRipple type="button" label="Rent" class="p-button-outlined p-button-rounded" (click)="rent(car)"></button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
<div>
