html,

.form-register {
  max-width: 750px;
  padding: 15px;
}

.form-register .form-floating:focus-within {
  z-index: 2;
}

.form-register input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register button {
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
