<form [formGroup]="brandAddForm">
  <div class="container ">
      <div class="d-flex justify-content-center my-4">
        <span class="p-float-label mt-2">
          <input class="p-inputtext-lg" id="name" type="string" formControlName="name" pInputText>
          <label for="name">Brand Name</label>
        </span>
      </div>

      <div class="d-flex justify-content-center">

        <button pButton [disabled]="brandAddForm.invalid" label="Add Brand" type="submit" icon="pi pi-plus" class="p-button-success mt-4" (click)="addBrand()"></button>
      </div>


    </div>
</form>
