<p-table [value]="cars" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
  [loading]="!carsLoaded" responsiveLayout="scroll" [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">

  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="flex justify-content-between align-items-center">
          Image
        </div>
      </th>
      <th pSortableColumn="brandName">
        <div class="flex justify-content-between align-items-center">
          Brand
          <p-sortIcon field="brandName"></p-sortIcon>
          <p-columnFilter type="text" field="brandName" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="model">
        <div class="flex justify-content-between align-items-center">
          Model
          <p-sortIcon field="model"></p-sortIcon>
          <p-columnFilter type="text" field="model" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="colorName">
        <div class="flex justify-content-between align-items-center">
          Color
          <p-sortIcon field="colorName"></p-sortIcon>
          <p-columnFilter type="text" field="colorName" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex justify-content-between align-items-center">
          <button pButton label="Add Car" type="button" icon="pi pi-plus" class="p-button-success" (click)="addCar()"></button>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr class="p-row">
      <td>
        <img [alt]="car.brand" src="{{car.images[0].imagePath | apiImage}}" width="64" style="vertical-align: middle" />
      </td>
      <td>
        <div class="flex justify-content-between align-items-center">
          <div class="flex align-items-center">
            <span class="ml-1">{{car.brandName}}</span>
          </div>
        </div>
      </td>
      <td>
        <div class="flex justify-content-between align-items-center">
          <div class="flex align-items-center">
            <span class="ml-1">{{car.model}}</span>
          </div>
        </div>
      </td>
      <td>
        <div class="flex justify-content-between align-items-center">
          <div class="flex align-items-center">
            <span class="ml-1">{{car.colorName}}</span>
          </div>
        </div>
      </td>
      <td>
        <div class="flex justify-content-between align-items-center">
          <div class="flex align-items-center">
            <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" key="{{car.id}}"></p-confirmDialog>
            <button pButton label="Edit" class="p-button-rounded p-button-sm" (click)="editCar(car)"></button>
            <button pButton label="Delete" class="p-button-rounded p-button-danger p-button-sm" (click)="deleteCar(car)"></button>
            <button pButton label="Stats" class="p-button-rounded p-button-sm" (click)="getCarStats(car)"></button>
          </div>
        </div>
      </td>





    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No cars found.</td>
    </tr>
  </ng-template>
</p-table>
